language: python
python:
 - "3.6"

branches:
  only:
  - master

before_install:
  - openssl aes-256-cbc -K $encrypted_8f2e1fe0e7f3_key -iv $encrypted_8f2e1fe0e7f3_iv
    -in .travis/id_rsa.tar.gz.enc -out ~/id_rsa.tar.gz -d
  - tar xf ~/id_rsa.tar.gz -C ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  - eval $(ssh-agent)
  - ssh-add ~/.ssh/id_rsa

install:
  - pip install yq

script:
  - "/bin/bash helm-sync.sh"
